// {{CN}}组件：{{description}}
<template>
  <div
  class="dazzling-{{kebabCase name}}-box"
  >
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "{{titleCase name}}",
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.dazzling-{{kebabCase name}}-box {
}
</style>
